body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.room-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw; /* Viewport width 100% */
  height: 100vh; /* Viewport height 100% */
  margin: 0; /* Remove any default margin */
  padding: 0; /* Remove any default padding */
}

.chat-container {
  width: 100%; /* Full width of the room-page */
  height: 100%; /* Full height of the room-page */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home-page .form label{
  display: block;
  margin-bottom: 10px;
}